@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Jost";
}
